.wrapper {
  background-color: aqua;
  max-width: 95%;
  margin: auto;
  min-height: rem(400px);
  background-image: linear-gradient(-60deg,
      var(--mantine-color-white) 0%,
      var(--mantine-color-white) 0%,
    );
  border-radius: var(--mantine-radius-md);
  padding: calc(var(--mantine-spacing-xl) * 1.5);

  @media screen  and (max-width : 48em) {
    padding: calc(var(--mantine-spacing-xl) * 0.8);
  }

}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  color: var(--mantine-color-blue-9);
  line-height: 1;
}

.description {
  color: var(--mantine-color-blue-9);
  max-width: rem(300px);

  @media (max-width: 48em) {
    max-width: 100%;
  }
}

.form {
  background-color: var(--mantine-color-blue-9);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-md);
}

.social {
  color: var(--mantine-color-blue-9);
}

.input {
  background-color: var(--mantine-color-gray-2);
  border-color: var(--mantine-color-gray-3);
  color: var(--mantine-color-black);
}
.input::placeholder{
    color: var(--mantine-color-gray-5);
}

.inputLabel {
  color: var(--mantine-color-white);
}